# Virtual environment
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# System files
__pycache__/
*.pyc
.DS_Store

# Data
ml/data/cache/
ml/data/*.xlsx
ml/data/*.csv

# Outputs
ml/outputs/*.html
ml/outputs/*.geojson
ml/outputs/*.json

# Temporary
*.log
